
* {
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Hiragino Kaku Gothic Pro", Meiryo, "Malgun Gothic", "Helvetica Neue", sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html {
  background: #FFFFFF;
}

body {
  background-color: #F7F7F7;
}
